.contain {
    width: 1000px;
    margin: auto;
}
.header {
    width: 1000px;
    height: 400px;
    background-color: grey;
    background-image: url(WallpaperDog-991133.png);
}
.photo {
    width:100px;
    float:center;
}

