body {
    background-image: url(backgroundbody.jpg);
    background-repeat: repeat;
    background-size: 100%;   
}
.frame {
    background-color:#F9B6B6;
    width: 1300px;
    height: 100%;
    margin: auto; 
    text-align: center;
}
#bgprofpic {
    padding: 25px;
    background: url(backgroundpp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1200px;
    height: 500px;
    margin-top: -0.8%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #F9B6B6;
}
#profilepic {
    text-align: center;
    margin-top: 12%;
    width: 15%;
}
.name {
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:maroon;
}
.about1 {
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:darkgray;
}
.text1 {
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:white;
}
